<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        Login
    </div>
    <div class="center">
        <form class="form" method="post" action="/login">
            <input class="input" type="email" placeholder="username" name="username" required>
            <input class="input" type="password" placeholder="password" name="password" required>
            <input class="submit" type="submit" value="LOGIN">
        </form>
        <a href="/signup">not registered click here.</a>
    </div>
</body>
</html>