*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.header {
    background: #663399;
    padding-top: 1rem;
    width: 100vw;
    padding-bottom: 1rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.ad{
    padding-top: 1rem;
    width: 100vw;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.but{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 1rem;
    width: 100vw;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.but a{
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}
.submit{
    cursor: pointer;
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    border: none;
}
.input{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    outline: none;
} 
.center{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    width: 20rem;
    flex-direction: column;
    gap: 0.5rem;
}
.center2{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list{
    margin-top: 2rem;
    list-style: none;
    width: 20rem;
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 1rem;
}
.list li{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.list li p{
    text-overflow: ellipsis;
}